{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingZero">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Sample
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingZero" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dicta ad accusamus, hic animi placeat deleniti distinctio praesentium excepturi repellendus, vel, ex vitae perferendis repudiandae ut ea officia ducimus aspernatur?
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="headingOne">
                        Etymology
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quidem eaque animi placeat corrupti ullam iure corporis sed dolores, optio illo magnam minus voluptate autem? Commodi corrupti ipsam dignissimos provident.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        History
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facilis assumenda veniam aliquid culpa odit eos aspernatur, in exercitationem sint nihil illum accusamus ea! Odio, delectus error. Soluta, obcaecati odit.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Applications and practice
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur vitae qui neque obcaecati, quo ab quasi magnam ratione, cumque quibusdam deserunt omnis! Ut mollitia reiciendis iste laboriosam commodi aliquam voluptate.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}