<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if content %}
    <meta name="description" content="{{ content }}">
    {% else %}
    <meta name="description" content="Chemical Riders">
    {% endif %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

</head>

<body class="abd">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-expand-lg navbar-dark fixed-top " style="background-color: #00798C;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/logo/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="logo">
                Book Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/books">Books</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/posts">Blogs</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link moon" id="dark" href="#" onclick="darkMode(); switcher();">🌙 Dark</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- Header -->
    <header class="py-5 mb-5" style="background-color: #D1495B;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2" id="head" style="text-align: center;">{{ head }}</h1>
                    <p class="lead mb-5 text-white-50"></p>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content -->
    {% block content %}

    {% endblock content %}
    <br>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/darkmode.js')}}"></script>
    {% block script %}

    {% endblock script %}

</body>

</html>