{% extends 'base.html' %}

{% block content %}
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-10 col-lg-8 mx-auto">
      <!-- Blog Posts -->
      {% for post in posts %}
      <div class="card mb-4">
        <div class="card-body">
          <a href="/post/{{ post.url }}">
            <h2 class="card-title">{{ post.title }}</h2>
          </a>
        </div>
        <div class="card-footer text-muted">
          {{ post.timestamp }}
        </div>
      </div>
      {% endfor %}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock content %}